
Sprocket Central Pty Ltd Company Customers Recommendation Project

Data assessment

The client, Sprocket Central Pty Ltd, has provided us with three datasets: Customer Demographic, Customer Addresses, and 
Transactions data from the past three months. The company needs help in effectively analyzing this large dataset to 
optimize its marketing strategy.

Our objective is to review the data quality for each of the three datasets and ensure that they are ready for analysis.
We will clean and preprocess each dataset separately before joining them into one dataset for further analysis.

Transactions Dataset

In [208]:
# Import Libraries
import pandas as pd
import os
import numpy as np
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
import calendar
from datetime import datetime

In [209]:
def xlsx_to_csv(xlsx_file_path, output_dir):
    # Load all sheets in the xlsx file into a dictionary of dataframes
    sheets = pd.read_excel(xlsx_file_path, sheet_name=None)

    # Create the output directory if it doesn't exist
    os.makedirs(output_dir, exist_ok=True)

    # Loop through each sheet and convert it to a csv file
    for sheet_name, df in sheets.items():
        # Construct the output file path for the csv file
        output_file_path = os.path.join(output_dir, sheet_name + '.csv')

        # Save the dataframe as a csv file
        df.to_csv(output_file_path, index=False)

In [217]:
#xlsx_to_csv("CustomerDemographic.xlsx", "CustomerDemographic")
#xlsx_to_csv("CustomerAddress.xlsx", "CustomerAddress")
#xlsx_to_csv("Transactions.xlsx", "Transactions")
#xlsx_to_csv("NewCustomerList.xlsx", "NewCustomerList")

In [241]:
Transactions = pd.read_csv('Transactions.csv')
Transactions.head(1)

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date

In [242]:
def titlehead(x):
    x.rename(columns=x.iloc[0], inplace = True)
    x.drop([0], inplace = True)
    
# applying the function on the data sets
titlehead(Transactions)
# checking for results
Transactions.head(1)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,42791,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245

In [243]:
Transactions.shape

(20000, 13)

In [244]:
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  object
 1   product_id               20000 non-null  object
 2   customer_id              20000 non-null  object
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
dtypes: object(13)
memory usage: 2.0+ MB

Based on this information, the dataset has the following issues:

* Missing values in the "online_order", "brand", "product_line", "product_class", "product_size", "standard_cost", and             "product_first_sold_date" columns.

* The "online_order" column is of type float64, which is unnecessary since it only has values of 0 or 1.

* The "transaction_date" column is of type int64, thus needs to be converted to a datetime object.

* The "product_first_sold_date" column is of type float64, thus needs to be converted to a datetime object.

In [245]:
# Convert the 'date' column to datetime format
Transactions['transaction_date'] = pd.to_numeric(Transactions['transaction_date'], errors='coerce')
Transactions['transaction_date'] = pd.to_datetime(Transactions['transaction_date'], unit='d', origin=pd.Timestamp('1900-01-01'))
Transactions['transaction_date'] = Transactions['transaction_date'] - pd.Timedelta(days=2)

In [246]:
Transactions['product_first_sold_date'] = pd.to_numeric(Transactions['product_first_sold_date'], errors='coerce')

Transactions['product_first_sold_date'] = pd.to_datetime(Transactions['product_first_sold_date'], unit='d', origin=pd.Timestamp('1900-01-01'))
Transactions['product_first_sold_date'] = Transactions['product_first_sold_date'] - pd.Timedelta(days=2)

In [247]:
Transactions['list_price']=pd.to_numeric(Transactions['list_price'])
Transactions['standard_cost']=pd.to_numeric(Transactions['standard_cost'])

Transactions['online_order'] = Transactions['online_order'].fillna(0).astype(bool)

In [248]:
# Checking results
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  object
 1   product_id               20000 non-null  object
 2   customer_id              20000 non-null  object
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             20000 non-null  bool
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(2), object(8)
memory usage: 1.9+ MB

In [249]:
Transactions[Transactions.duplicated()].sum()

/tmp/ipykernel_7092/3382108674.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Transactions[Transactions.duplicated()].sum()

transaction_id    0.0
product_id        0.0
customer_id       0.0
online_order      0.0
order_status      0.0
brand             0.0
product_line      0.0
product_class     0.0
product_size      0.0
list_price        0.0
standard_cost     0.0
dtype: float64

In [250]:
# Percentage of missing points in each variable
percent_missing_Transactions = round(Transactions.isnull().sum() / len(Transactions) * 100, 1)
missing_Transactions = pd.DataFrame(percent_missing_Transactions, columns=["Missing (%)"])
missing_Transactions

                         Missing (%)
transaction_id                   0.0
product_id                       0.0
customer_id                      0.0
transaction_date                 0.0
online_order                     0.0
order_status                     0.0
brand                            1.0
product_line                     1.0
product_class                    1.0
product_size                     1.0
list_price                       0.0
standard_cost                    1.0
product_first_sold_date          1.0

* For the 'Online Order' variable, we observed only 1.8% missing values. Hence, we will fill them with the mode.
* The variables 'Brand', 'Product Line', 'Product Class', 'Product Size', 'Standard Cost', and 'Product First Sold Date' all       have 1% missing values ==> They have a similar pattern of missing data. And are unlikely to affect our analysis
  Therefore, we will remove the rows that contain the null values in these variables.

In [251]:
# Fill missing values for "online_order" with the mode
mode = Transactions['online_order'].mode()[0]
Transactions['online_order'] = Transactions['online_order'].fillna(mode)

# Remove rows with missing values for other columns
Transactions = Transactions.dropna(subset=['brand', 'product_line', 'product_class', 'product_size', 'standard_cost', 'product_first_sold_date'])

In [252]:
# checking results
Transactions.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [253]:
# Collecting the categorical columns into  list
cat_col=[]
for x in Transactions.dtypes.index:
    if Transactions.dtypes[x]=='object':
        cat_col.append(x)
cat_col

['transaction_id',
 'product_id',
 'customer_id',
 'order_status',
 'brand',
 'product_line',
 'product_class',
 'product_size']

In [254]:
#checking for duplicated values in the categorical columns nd the accuracy of the values
for col in cat_col:
    print(col)
    print()
    # Check for duplicates 
    print(Transactions[col].duplicated().sum())
    print(Transactions[col].unique())
    print()
    # Check the accuracy of values in "order_status"
    print(Transactions[col].value_counts())
    print()
    print('_______________________________________________________________________________________')
    print()

transaction_id

0
['1' '2' '3' ... '19998' '19999' '20000']

1        1
13324    1
13331    1
13330    1
13329    1
        ..
6654     1
6653     1
6652     1
6651     1
20000    1
Name: transaction_id, Length: 19803, dtype: int64

_______________________________________________________________________________________

product_id

19702
['2' '3' '37' '88' '78' '25' '22' '15' '67' '12' '5' '61' '35' '16' '79'
 '33' '54' '27' '82' '89' '64' '19' '72' '91' '1' '99' '0' '92' '14' '44'
 '76' '46' '55' '66' '81' '86' '32' '77' '96' '6' '47' '94' '93' '60' '28'
 '4' '38' '56' '58' '50' '80' '87' '84' '21' '31' '62' '17' '73' '45' '49'
 '95' '18' '70' '26' '39' '36' '98' '75' '42' '20' '24' '53' '65' '29'
 '11' '10' '7' '41' '9' '69' '90' '97' '100' '74' '71' '34' '57' '23' '51'
 '59' '63' '40' '8' '13' '30' '48' '68' '83' '43' '52' '85']

0      1181
3       354
1       311
35      268
38      267
       ...
71      137
8       136
16      136
100     130
47      121
Name: product_id, Length: 101, dtype: int64

_______________________________________________________________________________________

customer_id

16309
['2950' '3120' '402' ... '2764' '3168' '3464']

1068    14
2183    14
2476    14
2548    13
2072    13
        ..
1846     1
1757     1
1865     1
774      1
3464     1
Name: customer_id, Length: 3494, dtype: int64

_______________________________________________________________________________________

order_status

19801
['Approved' 'Cancelled']

Approved     19625
Cancelled      178
Name: order_status, dtype: int64

_______________________________________________________________________________________

brand

19797
['Solex' 'Trek Bicycles' 'OHM Cycles' 'Norco Bicycles' 'Giant Bicycles'
 'WeareA2B']

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

_______________________________________________________________________________________

product_line

19799
['Standard' 'Road' 'Mountain' 'Touring']

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

_______________________________________________________________________________________

product_class

19800
['medium' 'low' 'high']

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

_______________________________________________________________________________________

product_size

19800
['medium' 'large' 'small']

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

_______________________________________________________________________________________

In [255]:
Transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25,True,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
2,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
3,3,37,402,2017-10-16,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
4,4,88,3135,2017-08-31,True,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
5,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10


Customer address dataset

In [151]:
Customer_address = pd.read_csv('CustomerAddress.csv')
def titlehead(x):
    x.rename(columns=x.iloc[0], inplace = True)
    x.drop([0], inplace = True)
    
# applying the function on the data sets
titlehead(Customer_address)
# checking for results
Customer_address.head(1)

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10

In [162]:
Customer_address.shape

(3999, 6)

In [159]:
Customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
dtypes: object(6)
memory usage: 187.6+ KB

In [157]:
Customer_address[Customer_demographic.duplicated()].sum()

/tmp/ipykernel_7092/3457559891.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Customer_address[Customer_demographic.duplicated()].sum()

customer_id           0.0
address               0.0
postcode              0.0
state                 0.0
country               0.0
property_valuation    0.0
dtype: float64

Based on the information provided, there are a few issues with the dataset:
The property_valuation column should have a numerical data type instead of an object data type.

In [163]:
Customer_address['property_valuation']=pd.to_numeric(Customer_address['property_valuation'])

In [165]:
cat_col=[]
for x in Customer_address.dtypes.index:
    if Customer_address.dtypes[x]=='object':
        cat_col.append(x)
cat_col
cols_to_remove = ['customer_id', 'address']
for col in cols_to_remove:
    cat_col.remove(col)

print(cat_col)

['postcode', 'state', 'country']

In [167]:
#checking for duplicated values in the categorical columns nd the accuracy of the values
for col in cat_col:
    print(col)
    print()
    # Check for duplicates 
    print(Customer_address[col].duplicated().sum())
    print(Customer_address[col].unique())
    print()
    # Check the accuracy of values in "order_status"
    print(Customer_address[col].value_counts())
    print()
    print('_______________________________________________________________________________________')
    print()

postcode

3126
['2016' '2153' '4211' '2448' '3216' '2210' '2650' '2023' '3044' '4557'
 '3799' '2760' '2428' '3331' '3058' '2135' '2233' '2444' '4413' '4740'
 '3218' '4868' '4116' '2519' '2756' '2170' '4005' '4127' '2535' '4726'
 '4805' '2212' '2207' '3350' '3931' '4018' '4670' '2480' '3212' '2322'
 '3198' '2047' '4503' '2145' '4350' '2142' '2029' '2127' '4280' '2166'
 '2046' '2026' '2765' '2749' '2745' '3752' '2217' '2230' '3046' '3183'
 '2070' '2213' '4208' '2774' '4133' '4213' '4170' '2073' '3561' '2330'
 '3977' '2204' '2086' '2226' '2075' '2038' '2069' '2100' '3133' '3070'
 '2777' '2125' '2766' '2209' '2160' '2065' '2150' '2168' '4171' '2155'
 '2517' '2096' '2750' '2093' '3204' '4300' '3844' '4226' '3192' '2485'
 '2097' '4817' '2516' '3074' '4508' '4405' '2452' '2205' '4132' '4744'
 '2158' '3201' '4178' '2112' '2033' '4401' '3186' '4017' '2315' '2285'
 '2219' '4509' '2759' '2747' '2227' '2025' '3191' '3025' '2263' '2154'
 '2119' '3016' '4113' '2032' '4352' '3020' '2116' '3057' '2099' '3749'
 '2148' '3145' '2021' '2333' '2783' '2280' '4120' '3638' '2074' '2880'
 '2430' '4560' '2088' '2220' '3031' '2250' '2261' '3196' '4680' '3143'
 '2063' '3021' '2138' '4811' '2085' '3084' '3170' '2066' '4078' '2222'
 '3152' '2159' '4655' '4220' '4012' '2015' '2776' '3011' '2761' '2502'
 '2110' '2566' '2506' '2508' '2036' '2018' '3666' '4514' '2525' '4152'
 '2200' '3023' '3500' '2283' '2102' '2040' '2304' '2340' '3580' '3355'
 '2287' '2324' '2323' '2320' '2346' '2031' '2064' '2176' '3195' '2010'
 '2768' '2752' '3802' '3071' '4735' '3081' '3205' '2165' '3125' '4214'
 '2030' '2767' '2798' '2117' '4551' '3064' '3810' '4151' '2830' '3030'
 '4812' '2141' '3029' '2173' '3199' '4506' '2035' '3340' '3182' '2450'
 '2216' '3796' '3197' '2232' '2365' '4701' '4210' '2223' '4122' '2515'
 '3437' '3338' '2203' '3356' '3223' '3032' '3105' '3101' '2763' '2089'
 '2126' '2147' '2251' '3127' '3087' '3131' '3134' '2193' '4055' '2530'
 '4217' '4020' '2179' '3130' '4570' '3215' '3165' '3936' '2265' '3034'
 '2062' '2162' '3033' '2144' '3805' '2642' '3228' '3444' '2076' '4124'
 '4305' '2579' '2835' '3337' '2536' '2770' '2646' '4558' '2211' '2570'
 '4552' '3082' '2360' '4223' '4370' '3150' '2549' '3040' '4209' '4173'
 '2068' '3806' '2259' '2260' '4074' '4215' '3008' '2748' '2567' '3015'
 '4221' '3121' '4870' '2118' '2050' '2120' '3812' '3111' '3012' '2197'
 '3162' '2037' '3141' '3178' '3564' '3550' '3775' '3004' '3185' '2447'
 '3910' '3621' '4702' '2133' '3075' '3911' '2487' '4123' '2151' '3156'
 '3126' '2027' '3124' '2564' '2049' '3690' '3282' '2576' '3108' '4165'
 '2218' '2190' '2337' '2307' '2121' '2716' '3168' '3076' '2478' '2560'
 '2087' '4505' '2630' '2225' '3013' '3136' '2111' '2106' '3930' '2291'
 '2305' '2300' '4179' '2539' '3207' '4340' '3137' '3068' '4580' '2041'
 '4504' '2306' '4075' '3975' '4114' '4341' '4022' '4820' '3028' '4035'
 '2326' '3429' '4218' '2380' '3171' '2565' '3850' '3807' '4800' '2577'
 '2199' '2134' '4053' '2800' '2048' '2194' '2557' '2548' '2262' '2463'
 '2481' '2072' '3155' '3095' '4207' '4110' '2017' '2769' '4562' '2571'
 '3480' '3551' '2753' '3093' '4615' '3174' '2192' '2290' '3073' '4810'
 '4121' '2229' '4118' '2594' '3750' '4019' '2540' '2293' '2143' '3630'
 '2164' '4869' '2137' '2354' '4814' '2282' '2292' '2171' '2077' '4873'
 '4006' '2754' '2152' '2067' '2122' '3976' '2000' '3175' '2156' '2228'
 '3187' '2680' '2527' '2163' '2336' '4415' '3139' '3147' '3623' '4356'
 '2034' '2196' '2177' '2234' '2537' '4720' '3765' '2486' '4511' '2795'
 '3188' '3730' '3060' '4131' '2518' '3158' '2477' '2195' '2575' '3400'
 '3037' '4507' '2113' '2443' '3177' '2641' '4212' '3241' '3428' '4227'
 '4034' '2558' '2460' '3173' '2289' '4500' '4825' '4161' '3757' '2871'
 '2146' '4380' '3024' '3934' '3109' '2136' '2484' '3225' '4068' '2214'
 '3809' '2454' '4556' '4573' '2131' '3184' '2619' '3138' '3441' '2101'
 '4510' '2647' '2731' '3284' '2573' '2206' '4815' '2526' '4502' '2710'
 '2090' '3038' '3142' '3442' '4064' '2529' '3039' '2061' '3644' '2104'
 '2044' '3043' '2873' '2541' '2321' '2079' '3072' '2007' '2620' '2231'
 '2580' '2020' '2852' '3677' '4818' '4519' '4806' '4610' '4512' '4306'
 '4304' '4301' '4205' '4051' '4130' '4115' '4164' '4128' '3940' '3939'
 '3840' '3804' '2582' '3747' '3620' '3151' '3380' '3280' '3224' '3222'
 '3226' '3190' '3169' '3163' '3161' '3791' '4119' '3140' '3818' '3106'
 '3099' '3754' '3756' '3061' '3048' '3036' '3107' '3022' '3049' '2870'
 '2762' '2794' '2773' '2640' '2439' '2528' '2440' '2325' '2161' '2848'
 '4878' '2775' '2224' '3219' '2441' '4877' '3264' '2681' '3018' '2043'
 '2107' '4567' '4011' '2221' '2028' '3941' '3146' '3585' '4105' '2094'
 '2284' '3808' '3149' '3114' '3352' '3129' '4154' '2114' '4721' '2011'
 '4157' '4799' '2095' '3103' '4224' '4344' '2009' '3144' '3181' '2665'
 '2474' '3166' '2820' '4059' '4160' '3189' '4030' '2042' '4032' '4103'
 '2868' '2358' '2449' '2299' '4014' '3056' '2281' '4007' '2318' '3821'
 '4109' '4216' '2470' '2563' '2264' '2445' '4060' '3214' '4077' '2327'
 '4104' '3172' '2505' '2115' '2469' '2705' '3088' '3966' '3912' '2446'
 '2810' '4061' '3083' '3915' '4153' '2267' '3458' '4421' '3505' '3006'
 '4037' '3918' '2335' '3079' '2400' '3148' '2092' '2714' '3555' '2008'
 '3631' '4228' '4101' '2022' '4568' '3115' '4343' '3116' '2208' '4125'
 '4070' '3194' '2533' '2758' '4159' '4879' '2500' '2298' '2178' '3240'
 '2671' '4455' '4650' '3160' '3250' '3342' '3523' '2350' '2785' '3995'
 '3351' '3000' '2462' '3041' '3260' '2534' '4565' '3618' '2780' '2167'
 '3279' '4106' '4700' '2799' '4564' '4860' '3922' '2256' '4031' '2779'
 '4660' '4073' '3067' '2843' '3027' '3066' '2572' '2128' '4054' '4069'
 '2343' '3377' '3065' '2295' '4270' '2316' '3179' '3933' '4883' '2081'
 '2471' '3053' '4285' '2546' '4275' '3132' '3042' '3085' '2071' '2821'
 '4390' '3793' '3128' '2869' '3616' '4750' '3059' '3153' '2130' '3213'
 '3862' '3610' '4102' '2060' '3786' '2019' '2191' '2713' '3094' '3122'
 '2850' '4272' '3051' '3634' '3803' '4515' '2700' '3123' '2294' '3978'
 '3305' '2198' '2778' '4730' '4155' '4000' '4225' '3556' '4575' '4715'
 '2429' '4555' '2132' '2045' '2024' '4076' '3321' '3193' '2390' '2806'
 '2257' '4172' '3078' '3104' '3860' '2658' '3052' '4163' '2590' '2550'
 '2877' '4311' '3089']

2170    31
2155    30
2145    30
2153    29
3977    26
        ..
3808     1
3114     1
4721     1
4799     1
3089     1
Name: postcode, Length: 873, dtype: int64

_______________________________________________________________________________________

state

3994
['New South Wales' 'QLD' 'VIC' 'NSW' 'Victoria']

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

_______________________________________________________________________________________

country

3998
['Australia']

Australia    3999
Name: country, dtype: int64

_______________________________________________________________________________________

In [260]:
Customer_address = pd.read_csv('Updated_address.csv')
Customer_address['state'].replace('New South Wales', 'NSW', inplace=True)
Customer_address['state'].replace('Victoria', 'VIC', inplace=True)


Customer demographics dataset

In [171]:
Customer_demographic = pd.read_csv('CustomerDemographic.csv')
Customer_demographic.head(2)

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1843-12-21,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11

In [172]:
#creating the function
def titlehead(x):
    x.rename(columns=x.iloc[0], inplace = True)
    x.drop([0], inplace = True)
    
# applying the function on the data sets
titlehead(Customer_demographic)
# checking for results
Customer_demographic.head(1)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1843-12-21,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11

The first row has a DOB of 1843-12-21, this is clearly a mistake thus should be changed

In [173]:
Customer_demographic.loc[0, "DOB"] = "2002-12-23"

In [174]:
Customer_demographic.shape

(4001, 13)

In [175]:
Customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4001 entries, 1 to 0
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   object
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   object
 5   DOB                                  3914 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   object
dtypes: object(13)
memory usage: 566.6+ KB

Based on the information provided, there are a few issues with the dataset:

   The "DOB" column is of type object, which needs to be converted to a datetime object for analysis.

   The "job_industry_category" column has missing values.

   The "default" column has missing values.

In [176]:
# Convert the 'date' column to datetime format
Customer_demographic['DOB'] = pd.to_datetime(Customer_demographic['DOB'])

In [177]:
Customer_demographic['past_3_years_bike_related_purchases']=pd.to_numeric(Customer_demographic['past_3_years_bike_related_purchases'])
Customer_demographic['tenure']=pd.to_numeric(Customer_demographic['tenure'])

In [178]:
Customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4001 entries, 1 to 0
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   object
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   float64
 5   DOB                                  3914 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 566.6+ KB

In [179]:
Customer_demographic[Customer_demographic.duplicated()].sum()

/tmp/ipykernel_7092/3169158163.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Customer_demographic[Customer_demographic.duplicated()].sum()

customer_id                            0.0
first_name                             0.0
last_name                              0.0
gender                                 0.0
past_3_years_bike_related_purchases    0.0
job_title                              0.0
job_industry_category                  0.0
wealth_segment                         0.0
deceased_indicator                     0.0
default                                0.0
owns_car                               0.0
tenure                                 0.0
dtype: float64

In [180]:
# Percentage of missing points in each variable
percent_missing_demographic = round(Customer_demographic.isnull().sum() / len(Customer_demographic) * 100, 1)
missing_demographic = pd.DataFrame(percent_missing_Customer_demographic, columns=["Missing (%)"])
missing_demographic

                                     Missing (%)
customer_id                                  0.0
first_name                                   0.0
last_name                                    0.0
gender                                       0.0
past_3_years_bike_related_purchases          0.0
DOB                                          0.0
job_title                                    0.0
job_industry_category                       16.1
wealth_segment                               0.0
deceased_indicator                           0.0
default                                      1.6
owns_car                                     0.0
tenure                                       0.0

In [181]:
#Filling in columns with mode 
Customer_demographic['last_name'] = Customer_demographic['last_name'].fillna(Customer_demographic['last_name'].mode()[0])
Customer_demographic['DOB'] = Customer_demographic['DOB'].fillna(Customer_demographic['DOB'].mode()[0])
Customer_demographic['job_title'] = Customer_demographic['job_title'].fillna(Customer_demographic['job_title'].mode()[0])
Customer_demographic['job_industry_category'] = Customer_demographic['job_industry_category'].fillna(Customer_demographic['job_industry_category'].mode()[0])
Customer_demographic['default'] = Customer_demographic['default'].fillna(Customer_demographic['default'].mode()[0])
Customer_demographic['tenure'] = Customer_demographic['tenure'].fillna(Customer_demographic['tenure'].mean())

In [190]:
Customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3913 entries, 1 to 0
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3912 non-null   object
 1   first_name                           3912 non-null   object
 2   last_name                            3913 non-null   object
 3   gender                               3912 non-null   object
 4   past_3_years_bike_related_purchases  3912 non-null   float64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3913 non-null   object
 7   job_industry_category                3913 non-null   object
 8   wealth_segment                       3912 non-null   object
 9   deceased_indicator                   3912 non-null   object
 10  owns_car                             3912 non-null   object
 11  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 397.4+ KB

In [185]:
cat_col=[]
for x in Customer_demographic.dtypes.index:
    if Customer_demographic.dtypes[x]=='object':
        cat_col.append(x)
cat_col
cols_to_remove = ['customer_id', 'first_name', 'last_name', 'default']
for col in cols_to_remove:
    cat_col.remove(col)

print(cat_col)

['gender', 'job_title', 'job_industry_category', 'wealth_segment', 'deceased_indicator', 'owns_car']

In [186]:
#checking for duplicated values in the categorical columns nd the accuracy of the values
for col in cat_col:
    print(col)
    print()
    # Check for duplicates 
    print(Customer_demographic[col].duplicated().sum())
    print(Customer_demographic[col].unique())
    print()
    # Check the accuracy of values in "order_status"
    print(Customer_demographic[col].value_counts())
    print()
    print('_______________________________________________________________________________________')
    print()

gender

3994
['F' 'Male' 'Female' 'U' 'Femal' 'M' nan]

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

_______________________________________________________________________________________

job_title

3806
['Executive Secretary' 'Administrative Officer' 'Recruiting Manager'
 'Business Systems Development Analyst' 'Senior Editor' 'Media Manager I'
 'Senior Quality Engineer' 'Nuclear Power Engineer' 'Developer I'
 'Account Executive' 'Junior Executive' 'Media Manager IV'
 'Sales Associate' 'Professor' 'Geological Engineer' 'Project Manager'
 'Safety Technician I' 'Research Assistant I' 'Accounting Assistant III'
 'Editor' 'Research Nurse' 'Safety Technician III' 'Staff Accountant III'
 'Legal Assistant' 'Product Engineer' 'Information Systems Manager'
 'VP Quality Control' 'Social Worker' 'Senior Cost Accountant'
 'Assistant Media Planner' 'Payment Adjustment Coordinator' 'Food Chemist'
 'Accountant III' 'Director of Sales' 'Senior Financial Analyst'
 'Registered Nurse' 'Biostatistician II' 'Computer Systems Analyst II'
 'Software Test Engineer II' 'Paralegal' 'VP Sales'
 'Chief Design Engineer' 'Office Assistant III'
 'Physical Therapy Assistant' 'Help Desk Operator' 'Web Developer II'
 'Research Associate' 'Teacher' 'VP Product Management' 'Statistician II'
 'Automation Specialist IV' 'Data Coordiator' 'Software Test Engineer III'
 'Internal Auditor' 'Analyst Programmer' 'Occupational Therapist'
 'Speech Pathologist' 'Quality Control Specialist' 'Civil Engineer'
 'Software Engineer III' 'Community Outreach Specialist'
 'Safety Technician IV' 'VP Accounting' 'General Manager'
 'Nurse Practicioner' 'Automation Specialist II' 'Marketing Assistant'
 'Marketing Manager' 'Staff Scientist' 'Assistant Professor'
 'Budget/Accounting Analyst IV' 'Associate Professor' 'Graphic Designer'
 'Administrative Assistant II' 'Compensation Analyst'
 'Systems Administrator III' 'Financial Advisor' 'Chemical Engineer'
 'Web Designer I' 'Senior Developer' 'Office Assistant II' 'Recruiter'
 'Operator' 'Programmer Analyst III' 'Quality Engineer'
 'Environmental Tech' 'Analog Circuit Design manager' 'Cost Accountant'
 'Librarian' 'Structural Analysis Engineer' 'Pharmacist'
 'Assistant Manager' 'Accountant I' 'Web Designer III' 'Geologist III'
 'Software Test Engineer I' 'Structural Engineer' 'Safety Technician II'
 'Web Developer III' 'Programmer Analyst II' 'Design Engineer'
 'Statistician I' 'VP Marketing' 'Desktop Support Technician' 'Actuary'
 'Database Administrator III' 'Electrical Engineer' 'Tax Accountant'
 'Clinical Specialist' 'Database Administrator IV'
 'Systems Administrator II' 'Account Coordinator' 'Programmer III'
 'Administrative Assistant III' 'Nurse' 'Technical Writer'
 'Staff Accountant II' 'Dental Hygienist' 'Sales Representative'
 'Budget/Accounting Analyst III' 'Computer Systems Analyst IV'
 'Geologist I' 'Financial Analyst' 'Accounting Assistant II'
 'Senior Sales Associate' 'Database Administrator II' 'Engineer I'
 'Budget/Accounting Analyst I' 'Developer IV' 'Database Administrator I'
 'Environmental Specialist' 'Computer Systems Analyst I'
 'Account Representative IV' 'Statistician IV' 'Human Resources Manager'
 'GIS Technical Architect' 'Programmer IV' 'Accounting Assistant IV'
 'Software Engineer IV' 'Programmer II' 'Engineer III'
 'Software Consultant' 'Biostatistician IV' 'Help Desk Technician'
 'Automation Specialist I' 'Developer III' 'Human Resources Assistant I'
 'Geologist IV' 'Media Manager II' 'Statistician III' 'Engineer II'
 'Health Coach II' 'Developer II' 'Systems Administrator I'
 'Web Developer I' 'Software Engineer II' 'Accounting Assistant I'
 'Research Assistant II' 'Programmer Analyst IV' 'Health Coach I'
 'Accountant II' 'Automation Specialist III' 'Administrative Assistant I'
 'Health Coach IV' 'Media Manager III' 'Account Representative III'
 'Web Designer IV' 'Budget/Accounting Analyst II' 'Web Developer IV'
 'Programmer I' 'Biostatistician III' 'Software Test Engineer IV'
 'Research Assistant IV' 'Account Representative I' 'Accountant IV'
 'Biostatistician I' 'Human Resources Assistant IV'
 'Administrative Assistant IV' 'Office Assistant I'
 'Human Resources Assistant II' 'Mechanical Systems Engineer'
 'Engineer IV' 'Health Coach III' 'Office Assistant IV'
 'Software Engineer I' 'Human Resources Assistant III'
 'Staff Accountant I' 'Computer Systems Analyst III' 'Geologist II'
 'Web Designer II' 'Staff Accountant IV' 'Account Representative II'
 'Programmer Analyst I' 'Systems Administrator IV'
 'Research Assistant III']

Business Systems Development Analyst    552
Tax Accountant                           44
Social Worker                            44
Internal Auditor                         42
Recruiting Manager                       41
                                       ...
Database Administrator I                  4
Health Coach I                            3
Health Coach III                          3
Research Assistant III                    3
Developer I                               1
Name: job_title, Length: 195, dtype: int64

_______________________________________________________________________________________

job_industry_category

3992
['Health' 'Financial Services' 'Property' 'IT' 'Manufacturing' 'Retail'
 'Argiculture' 'Telecommunications' 'Entertainment']

Manufacturing         1456
Financial Services     774
Health                 602
Retail                 358
Property               267
IT                     223
Entertainment          136
Argiculture            113
Telecommunications      72
Name: job_industry_category, dtype: int64

_______________________________________________________________________________________

wealth_segment

3997
['Mass Customer' 'Affluent Customer' 'High Net Worth' nan]

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
Name: wealth_segment, dtype: int64

_______________________________________________________________________________________

deceased_indicator

3998
['N' 'Y' nan]

N    3998
Y       2
Name: deceased_indicator, dtype: int64

_______________________________________________________________________________________

owns_car

3998
['Yes' 'No' nan]

Yes    2024
No     1976
Name: owns_car, dtype: int64

_______________________________________________________________________________________

In [189]:
Customer_demographic.replace({'gender':{'F':'Female','Femal':'Female','M':'Male'}},inplace=True)
Customer_demographic=Customer_demographic[Customer_demographic.gender!='U']
Customer_demographic.drop('default',axis=1,inplace=True)

The last row contains severall null cases and wasn't deleted automatically so we'll delete it now

In [206]:
Customer_demographic.to_csv('Updated_demo.csv', index=False)

In [262]:
Customer_address.to_csv('Updated_address.csv', index=False)

In [256]:
Transactions.to_csv('Updated_tr.csv', index=False)